@charset "UTF-8";

@font-face {
  font-family: "kunggroup";
  src:url("fonts/kunggroup.eot");
  src:url("fonts/kunggroup.eot?#iefix") format("embedded-opentype"),
    url("fonts/kunggroup.woff") format("woff"),
    url("fonts/kunggroup.ttf") format("truetype"),
    url("fonts/kunggroup.svg#kunggroup") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "kunggroup" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="kg-"]:before,
[class*=" kg-"]:before {
  font-family: "kunggroup" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kg-angle-up:before {
  content: "\61";
}
.kg-angle-right:before {
  content: "\62";
}
.kg-angle-left:before {
  content: "\63";
}
.kg-angle-down:before {
  content: "\64";
}
.kg-android-arrow-forward:before {
  content: "\65";
}
.kg-android-arrow-up:before {
  content: "\66";
}
.kg-android-arrow-back:before {
  content: "\67";
}
.kg-android-arrow-down:before {
  content: "\68";
}
.kg-android-done:before {
  content: "\69";
}
.kg-android-close:before {
  content: "\6a";
}
